backcall==0.1.0
bcrypt==3.1.7
cffi==1.13.0
colorama==0.4.1
decorator==4.4.0
Django==1.11.23
django-extensions==2.2.3
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
parso==0.5.1
pickleshare==0.7.5
prompt-toolkit==2.0.10
pycparser==2.19
Pygments==2.4.2
six==1.12.0
traitlets==4.3.3
wcwidth==0.1.7
